<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{Title} {block:PostTitle}{PostTitle}{/block:PostTitle}</title>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!--





                 (#54) when i don't know what else to do

                      theme by kogami.tumblr.com







-->
<link rel="shortcut icon" href="{Favicon}">
<meta name="color:bg" content="#ffffff"/>
<meta name="color:text" content="#999999"/>
<meta name="color:captions" content="#f1f1f1"/>
<meta name="color:linkborders" content="#000000"/>
<meta name="color:asklink" content="#000000"/>
<meta name="image:icon" content=""/>
<meta name="text:postsize" content="300px"/>
<meta name="text:fontsize" content="11px"/>
<meta name="text:fontfamily" content="arial"/>
<style type="text/css">
body { font-family:{text:fontfamily}; font-weight:normal; font-size:{text:fontsize}; line-height:16px; color:{color:text}; text-align:justify; background:{color:bg}; margin:0; letter-spacing:0.15px; }
a { color:{color:text}; text-decoration:none; border-bottom:1px solid {color:linkborders}; margin-bottom:-1px; }
b, strong { font-weight:heavy; }
i, em { font-weight:light; }
u { text-decoration:underline; }
li { list-style:circle; margin:-1px 0px -1px -25px; line-height:17px; }
h1 { font-size:{text:fontsize}; }
h2 { font-size:{text:fontsize}; }
h3 { font-size:{text:fontsize}; }
pre { padding:0px; background:{color:captions}; font-family:{text:fontfamily}; word-break:normal; max-width:85%; overflow:hidden; }
blockquote { border-left:2px solid {color:text}; margin:-1px 0px 5px 7px; padding:0px 5px 0px 8px; }
#captions { background:{color:captions}; display:block; padding:3px 10px 4px 10px; margin:7px 0px 0px 0px; word-wrap:break-word; }
#captions img { height:auto; }
#txt { padding:0px 0px 1px 0px; }
#txt img { height:auto; }
#content { margin:auto; width:{text:postsize}; }
#content img { border:0px; }
#posts {}
.posts {padding:10px; margin-bottom:50px; overflow:hidden; width:{text:postsize}; z-index:1;}
.posts img { max-width:100%; border:0px; opacity:1; }
#ffff { }
#ffff a { border:0px; }
#tits { color:{color:text}; margin-bottom:24px; text-align:left; font-weight:900; font-size:11px; }
#uke { margin:7px 0px -10px 0px; width:100%; padding:0px 0px 0px 0px; text-align:left; }
#nude { text-align:left; margin-top:18px; width:100%; line-height:17px; {block:indexpage}display:none;{/block:indexpage} margin-bottom:-15px; }
#nude li { list-style:none; margin-left:-39px; }
#nude img { display:none; }
#nude a {  }
ol.notes li.note blockquote { border:0px; margin-bottom:-2px; margin-left:-8px; }
#haru { position:relative; text-align:center; margin:40px 0px 0px 0px; width:{text:postsize}; padding:10px;}
#rin { width:60px; height:60px; -webkit-border-radius:100px; -moz-border-radius:100px; border-radius:100px;}
#w1 { position:absolute; margin:10px 0px 0px -33px; width:12px; }
#w2 { position:absolute; margin:10px 0px 0px 80px; width:12px; }
#rincage { width:{text:postsize}; }
#rincage a { border:0px; }
#desc { background:{color:captions}; display:block; padding:11px 13px; text-align:justify; margin:20px 0px 0px 0px; }
#desctri { position:absolute; margin-top:-20px; margin-left:calc(50% - 31px); width:0; height:0; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid {color:captions}; }
#desc a { color:{color:asklink}; border:0px; margin-right:5px; }
#pug {width:{text:postsize}; text-align:right; margin:-20px 0px 20px 0px; padding:20px 0px 0px 0px; }
#boots { display:block; white-space: nowrap;overflow: hidden; text-overflow: ellipsis; width:{text:postsize}; }
#noots {}
#thm { position:fixed; bottom:8px; left:11px; font-size:12px; line-height:12px; padding-bottom:1.5px; padding-left:1px; }
#thm2 { position:fixed; bottom:8px; left:11px; font-size:12px; line-height:12px; padding-bottom:1.5px; padding-left:1px; }
</style>
<script type="text/javascript">
window.onload = function() { var urls = "http://kogami.tumblr.com/tagged/code"; document.getElementById("thm").style.display = "none"; var thm = document.createElement("a"); thm.id = "thm2"; thm.href = urls; thm.innerHTML = "©"; document.body.appendChild(thm); };
</script>
</head>
<body>
<div id="content">
<div id="haru">
<div id="rincage">
<a href="/"><img id="rin" src="{image:icon}"></a>
</div>
<div id="desc">
<div id="desctri"></div>
<a href="/ask"><i class="fa fa-envelope" aria-hidden="true"></i></a>
{description}
</div>
</div>
<div id="posts">
{block:Posts}
{block:ContentSource}<!-- {SourceURL}{block:SourceLogo}<img src="{BlackLogoURL}" width="{LogoWidth}" height="{LogoHeight}" alt="{SourceTitle}" /> {/block:SourceLogo}{block:NoSourceLogo}{SourceLink}{/block:NoSourceLogo} -->{/block:ContentSource}<!-- {block:NoRebloggedFrom}{block:RebloggedFrom}{ReblogParentName}{/block:RebloggedFrom}{/block:NoRebloggedFrom} -->
<div class="posts">
{block:Photo} <div id="ffff" style="background:#fff;"><center>{LinkOpenTag}<img style="width:100%; opacity:1; margin-bottom:-5px;" src="{PhotoURL-HighRes}">{LinkCloseTag}</center></div> {block:Caption}<div style="margin-top:10px;" id="captions">{Caption}</div>{/block:Caption} {/block:Photo}
{block:Photoset} <div style="max-width:100%; opacity:1;">{Photoset}</div> {block:Caption}<div id="captions">{Caption}</div>{/block:Caption} {/block:Photoset}
{block:Text} <div id ="txt"> {block:Title}<div id="tits">{Title}</div>{/block:Title} <div style="margin-bottom:-5px; margin-top:-9px;">{Body}</div></div> {/block:Text}
{block:Answer} <div id ="txt"> <div id="axx"> <i><b>{Asker} sent:</b> {Question}</i> </div> <div id="axt"></div> <div style="margin-top:20px">{Answer}</div> </div> {/block:Answer}
{block:Chat} <div id ="txt"> {block:Title}<div id="tits">{Title}</div>{/block:Title} {block:Lines}<div style="border-bottom:1px solid {color:text}; padding:0px 0px 2px 0px; margin-bottom:5px;">{block:Label}<b>{Label}</b>{/block:Label} {Line}</div>{/block:Lines} </div> {/block:Chat}
{block:Quote}  <div id="txt"><span style="font-style:oblique;">"{Quote}"</span>{block:source}<div style="text-align:right; margin-top:10px;">{source}</div>{/block:source}</div>{/block:Quote}
{block:Audio} <div id="txt"> <div style="opacity:0.9; overflow:hidden; width:27px; margin-bottom:0px;">{AudioPlayerWhite}</div> <div style="position:absolute; margin:-27px 0px 0px 32px; width:230px; overflow:hidden;">{block:TrackName}{TrackName}{/block:TrackName}</div>{block:Caption}<div id="captions">{Caption}</div>{/block:Caption} </div>  {/block:Audio}
{block:video}<div style="text-align:center; background:{color:captions}; width:100%;"><center>{Video-250}</center></div>{block:Caption}<div id="captions">{Caption}</div>{/block:Caption}{/block:video}
{block:Link} <div id="txt"><div id="tits"><a href="{URL}" {Target}>{Name}</a></div>{description}</div> {/block:Link}
{block:date}
<div id="uke"><div id="boots"><b>Posted:</b> <a href="{permalink}" title="permalink">{DayOfMonth}{DayOfMonthSuffix} of {ShortMonth} {Year} with {NoteCountWithLabel}</a> {block:RebloggedFrom}fr<a style="border:0px; color:{color:text};" href="{ReblogParentURL}">o</a>m <a href="{ReblogRootURL}" title="originally posted by {ReblogRootName}"><i>{ReblogRootName}</i></a> {/block:RebloggedFrom} </div>
<div id="noots"><b>Tagged:</b> {block:Tags}<a style="margin-right:2px;" href="{TagURL}" title="tagged with '{Tag}'">#{Tag}</a> {/block:Tags}</div></div>
{/block:date}
{block:PostNotes}
<div id="nude">{PostNotes}</div>{/block:PostNotes}</div>
{/block:Posts}
<div id="pug">
{block:Pagination}
{block:PreviousPage}<a href="{PreviousPage}" title="later posts">back</a>     {/block:PreviousPage} {block:NextPage} <a href="{NextPage}" title="earlier posts">next</a>{/block:NextPage}
{/block:Pagination}
</div>
</div>
<a id="thm" href="http://kogami.tumblr.com/tagged/code" title="theme by kogami">©</div>
</body>
</html>

