html,body{
margin: 0px;
padding: 0px;
height:100%;
background-image:url('http://i.imgur.com/JIys63C.jpg');
background-color:#2d3a80;
font-family: 'Titillium Web', sans-serif;
font-size: 13px;
color:#fff;
text-align:justify;
letter-spacing:1px;
}

#box1{
position:relative;
width:735px;
min-height:100%;
margin:72px auto;
padding:8px;
}

#header{
height:350px;
width:735px;
background-image:url('http://i.imgur.com/60rpjen.png');
border:1px solid #230023;
}

#linkity{
position:absolute;
top:-23px;
left:7px;
width:735px;
line-height:30px;
text-align:center;
}

#linkity a{
width:120px;
display:inline-block;
margin-right:-3px;
background-color:#230023;
color:#fff;
-moz-border-radius:10px 10px 0px 0px;
-webkit-border-radius:10px 10px 0px 0px;
border-radius:10px 10px 0px 0px;
text-transform:uppercase;
letter-spacing:2px;
border:1px solid #230023;
}

#linkity a:hover{
background-color:rgba(35,0,35,0.4);
border-bottom:1px solid #fff;
-moz-transition:.4s;
-webkit-transition:.4s;
transition:.4s;}

#box2{
position:absolute;
top:359px;
width:528px;
min-height:100%;
border:1px solid #230023;
margin-right:4px;
padding:8px;
background-color:rgba(35,0,35,0.4);
margin-bottom:4px;
} 

#box3{
position:absolute;
top:359px;
left:553px;
width:174px;
min-height:100%;
border:1px solid #230023;
padding:8px;
background-color:rgba(35,0,35,0.4);
margin-bottom:4px;
text-align:left;
}

h1{
text-align:center;
font-size:14px;
line-height:30px;
font-family:times;
font-style:bold;
display:block;
border-bottom:1px solid #a481b0;
letter-spacing:2px;
margin: -2px 0px 0px -4px;
background:url('http://i.imgur.com/JIys63C.jpg');
}

a{
color:#fff;
background:#000;
text-decoration:none;
font-style:italic;
}

a:hover{
background:rgb(35,0,35);
}
