html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	line-height: 1.0;
	min-height: var(--viewport-height);
	min-width: 320px;
	overflow-x: hidden;
	word-wrap: break-word;
}

body:before {
	background-attachment: scroll;
	content: '';
	display: block;
	height: var(--background-height);
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: scale(1);
	width: 100vw;
	z-index: 0;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cstyle%3E%20path%20%7B%20fill%3A%20none%3B%20stroke-width%3A%203.01px%3B%20stroke%3A%20rgba(255,218,163,0.11)%3B%20vector-effect%3A%20non-scaling-stroke%3B%20%7D%20%3C%2Fstyle%3E%20%3Cpath%20d%3D%22M0%2C448c128%2C0%2C128-128%2C256-128s128%2C128%2C256%2C128%22%20%2F%3E%20%3Cpath%20d%3D%22M0%2C192c128%2C0%2C128-128%2C256-128s128%2C128%2C256%2C128%22%20%2F%3E%3C%2Fsvg%3E'), linear-gradient(45deg, #59638F 0%, #A2D1AB 100%);
	background-size: 487px, auto;
	background-position: center, 0% 0%;
	background-repeat: repeat, repeat;
}

body:after {
	background-color: #9C8593;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: scale(1);
	transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}

body.is-loading:after {
	opacity: 1;
	visibility: visible;
}

:root {
	--background-height: 100vh;
	--site-language-alignment: left;
	--site-language-direction: ltr;
	--site-language-flex-alignment: flex-start;
	--site-language-indent-left: 1;
	--site-language-indent-right: 0;
	--viewport-height: 100vh;
}

html {
	font-size: 18pt;
}

u {
	text-decoration: underline;
}

strong {
	color: inherit;
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 0;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	text-indent: 0;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

spoiler-text {
	-webkit-text-stroke: 0;
	background-color: rgba(32,32,32,0.75);
	text-shadow: none;
	text-stroke: 0;
	color: transparent;
	cursor: pointer;
	transition: color 0.1s ease-in-out;
}

spoiler-text.active {
	color: #FFFFFF;
	cursor: text;
}

s {
	text-decoration: line-through;
}

sub {
	font-size: smaller;
	vertical-align: sub;
}

sup {
	font-size: smaller;
	vertical-align: super;
}

a {
	color: inherit;
	text-decoration: underline;
	transition: color 0.25s ease;
}

#wrapper {
	-webkit-overflow-scrolling: touch;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: var(--viewport-height);
	overflow: hidden;
	position: relative;
	z-index: 2;
}

#main {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	--border-radius-tl: 0;
	--border-radius-tr: 0;
	--border-radius-br: 0;
	--border-radius-bl: 0;
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	max-width: 100%;
	position: relative;
	text-align: var(--alignment);
	z-index: 1;
	transition: opacity 0.25s ease-in-out 0s;
}

#main > .inner {
	--padding-horizontal: 3rem;
	--padding-vertical: 3rem;
	--spacing: 1.25rem;
	--width: 64rem;
	border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
	max-width: 100%;
	position: relative;
	width: var(--width);
	z-index: 1;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

#main > .inner > header {
	margin-bottom: var(--spacing);
}

#main > .inner > footer {
	margin-top: var(--spacing);
}

#main > .inner > * > * {
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);
}

#main > .inner > * > :first-child {
	margin-top: 0 !important;
}

#main > .inner > * > :last-child {
	margin-bottom: 0 !important;
}

#main > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
	width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
}

#main > .inner > .full:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full.screen {
	border-radius: 0 !important;
	max-width: 100vw;
	position: relative;
	width: 100vw;
	left: 50%;
	margin-left: -50vw;
	right: auto;
}

#main > .inner > * > .full {
	margin-left: calc(-3rem);
	max-width: calc(100% + 6rem + 0.4725px);
	width: calc(100% + 6rem + 0.4725px);
}

#main > .inner > * > .full.screen {
	border-radius: 0 !important;
	max-width: 100vw;
	position: relative;
	width: 100vw;
	left: 50%;
	margin-left: -50vw;
	right: auto;
}

#main > .inner > .active > .full:first-child {
	margin-top: -3rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main > .inner > .active {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main > .inner > .active > .full:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	margin-bottom: -3rem !important;
}

body.is-loading #main {
	opacity: 0;
}

body.is-instant #main, body.is-instant #main > .inner > *,body.is-instant #main > .inner > section > *  {
	transition: none !important;
}

body.is-instant:after {
	display: none !important;
	transition: none !important;
}

.container {
	position: relative;
}

.container > .wrapper {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
}

.container > .wrapper > .inner {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
	text-align: var(--alignment);
}

#main .container.full:first-child > .wrapper {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main .container.full:last-child > .wrapper {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main .container.full:first-child > .wrapper > .inner {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main .container.full:last-child > .wrapper > .inner {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container01 {
	--alignment: left;
	--flex-alignment: flex-start;
	--indent-left: 1;
	--indent-right: 0;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}

#container01 > .wrapper > .inner {
	--gutters: 3rem;
	--padding-horizontal: 0rem;
	--padding-vertical: 0rem;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

#container01 > .wrapper {
	max-width: var(--width);
	width: 100%;
}

#container01.default > .wrapper > .inner > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

#container01.default > .wrapper > .inner > *:first-child {
	margin-top: 0 !important;
}

#container01.default > .wrapper > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container01.columns > .wrapper > .inner {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
}

#container01.columns > .wrapper > .inner > * {
	flex-grow: 0;
	flex-shrink: 0;
	max-width: 100%;
	text-align: var(--alignment);
	padding: 0 0 0 var(--gutters);
}

#container01.columns > .wrapper > .inner > * > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

#container01.columns > .wrapper > .inner > * > *:first-child {
	margin-top: 0 !important;
}

#container01.columns > .wrapper > .inner > * > *:last-child {
	margin-bottom: 0 !important;
}

#container01.columns > .wrapper > .inner > *:first-child {
	margin-left: calc(var(--gutters) * -1);
}

#container01.default > .wrapper > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: none !important;
	width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}

#container01.default > .wrapper > .inner > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#container01.default > .wrapper > .inner > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container01.columns > .wrapper > .inner > div > .full {
	margin-left: calc(var(--gutters) * -0.5);
	max-width: none !important;
	width: calc(100% + var(--gutters) + 0.4725px);
}

#container01.columns > .wrapper > .inner > div:first-child > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container01.columns > .wrapper > .inner > div:last-child > .full {
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container01.columns > .wrapper > .inner > div > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

#container01.columns > .wrapper > .inner > div > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#container01.columns > .wrapper > .inner > .full {
	align-self: stretch;
}

#container01.columns > .wrapper > .inner > .full:first-child {
	border-bottom-left-radius: inherit;
	border-top-left-radius: inherit;
}

#container01.columns > .wrapper > .inner > .full:last-child {
	border-bottom-right-radius: inherit;
	border-top-right-radius: inherit;
}

#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child {
	border-radius: inherit;
	height: calc(100% + (var(--padding-vertical) * 2));
}

#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
	border-radius: inherit;
	height: 100%;
	position: absolute;
	width: 100%;
}

#container01 > .wrapper > .inner > :nth-child(1) {
	width: calc(40% + (var(--gutters) / 2));
}

#container01 > .wrapper > .inner > :nth-child(2) {
	width: calc(60% + (var(--gutters) / 2));
}

#container02 {
	--alignment: left;
	--flex-alignment: flex-start;
	--indent-left: 1;
	--indent-right: 0;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}

#container02 > .wrapper > .inner {
	--gutters: 3rem;
	--padding-horizontal: 0rem;
	--padding-vertical: 0rem;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

#container02 > .wrapper {
	max-width: var(--width);
	width: 100%;
}

#container02.default > .wrapper > .inner > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

#container02.default > .wrapper > .inner > *:first-child {
	margin-top: 0 !important;
}

#container02.default > .wrapper > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container02.columns > .wrapper > .inner {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
}

#container02.columns > .wrapper > .inner > * {
	flex-grow: 0;
	flex-shrink: 0;
	max-width: 100%;
	text-align: var(--alignment);
	padding: 0 0 0 var(--gutters);
}

#container02.columns > .wrapper > .inner > * > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

#container02.columns > .wrapper > .inner > * > *:first-child {
	margin-top: 0 !important;
}

#container02.columns > .wrapper > .inner > * > *:last-child {
	margin-bottom: 0 !important;
}

#container02.columns > .wrapper > .inner > *:first-child {
	margin-left: calc(var(--gutters) * -1);
}

#container02.default > .wrapper > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: none !important;
	width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}

#container02.default > .wrapper > .inner > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#container02.default > .wrapper > .inner > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container02.columns > .wrapper > .inner > div > .full {
	margin-left: calc(var(--gutters) * -0.5);
	max-width: none !important;
	width: calc(100% + var(--gutters) + 0.4725px);
}

#container02.columns > .wrapper > .inner > div:first-child > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container02.columns > .wrapper > .inner > div:last-child > .full {
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container02.columns > .wrapper > .inner > div > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

#container02.columns > .wrapper > .inner > div > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#container02.columns > .wrapper > .inner > .full {
	align-self: stretch;
}

#container02.columns > .wrapper > .inner > .full:first-child {
	border-bottom-left-radius: inherit;
	border-top-left-radius: inherit;
}

#container02.columns > .wrapper > .inner > .full:last-child {
	border-bottom-right-radius: inherit;
	border-top-right-radius: inherit;
}

#container02.columns > .wrapper > .inner > .full > .full:first-child:last-child {
	border-radius: inherit;
	height: calc(100% + (var(--padding-vertical) * 2));
}

#container02.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
	border-radius: inherit;
	height: 100%;
	position: absolute;
	width: 100%;
}

h1, h2, h3, p {
	direction: var(--site-language-direction);
	position: relative;
}

h1 span.p, h2 span.p, h3 span.p, p span.p {
	display: block;
	position: relative;
}

h1 span[style], h2 span[style], h3 span[style], p span[style], h1 strong, h2 strong, h3 strong, p strong, h1 a, h2 a, h3 a, p a, h1 code, h2 code, h3 code, p code, h1 mark, h2 mark, h3 mark, p mark, h1 spoiler-text, h2 spoiler-text, h3 spoiler-text, p spoiler-text {
	-webkit-text-fill-color: currentcolor;
}

#text05 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
	font-size: 2em;
	line-height: 1.75;
	font-weight: 600;
}

#text05 a {
	text-decoration: underline;
}

#text05 a:hover {
	text-decoration: none;
}

#text05 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text06 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans', sans-serif;
	font-size: 1em;
	line-height: 1.75;
	font-weight: 400;
}

#text06 a {
	text-decoration: underline;
}

#text06 a:hover {
	text-decoration: none;
}

#text06 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text07 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
	font-size: 2em;
	line-height: 1.75;
	font-weight: 600;
}

#text07 a {
	text-decoration: underline;
}

#text07 a:hover {
	text-decoration: none;
}

#text07 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text08 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans', sans-serif;
	font-size: 1em;
	line-height: 1.75;
	font-weight: 400;
}

#text08 a {
	text-decoration: underline;
}

#text08 a:hover {
	text-decoration: none;
}

#text08 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text09 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
	font-size: 2em;
	line-height: 1.75;
	font-weight: 600;
}

#text09 a {
	text-decoration: underline;
}

#text09 a:hover {
	text-decoration: none;
}

#text09 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text10 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans', sans-serif;
	font-size: 1em;
	line-height: 1.75;
	font-weight: 400;
}

#text10 a {
	text-decoration: underline;
}

#text10 a:hover {
	text-decoration: none;
}

#text10 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text11 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
	font-size: 2em;
	line-height: 1.75;
	font-weight: 600;
}

#text11 a {
	text-decoration: underline;
}

#text11 a:hover {
	text-decoration: none;
}

#text11 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text12 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans', sans-serif;
	font-size: 1em;
	line-height: 1.75;
	font-weight: 400;
}

#text12 a {
	text-decoration: underline;
}

#text12 a:hover {
	text-decoration: none;
}

#text12 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text13 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
	font-size: 2em;
	line-height: 1.75;
	font-weight: 600;
}

#text13 a {
	text-decoration: underline;
}

#text13 a:hover {
	text-decoration: none;
}

#text13 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text14 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans', sans-serif;
	font-size: 1em;
	line-height: 1.75;
	font-weight: 400;
}

#text14 a {
	text-decoration: underline;
}

#text14 a:hover {
	text-decoration: none;
}

#text14 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text15 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
	font-size: 2em;
	line-height: 1.75;
	font-weight: 600;
}

#text15 a {
	text-decoration: underline;
}

#text15 a:hover {
	text-decoration: none;
}

#text15 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text16 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans', sans-serif;
	font-size: 1em;
	line-height: 1.75;
	font-weight: 400;
}

#text16 a {
	text-decoration: underline;
}

#text16 a:hover {
	text-decoration: none;
}

#text16 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text17 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
	font-size: 2em;
	line-height: 1.75;
	font-weight: 600;
}

#text17 a {
	text-decoration: underline;
}

#text17 a:hover {
	text-decoration: none;
}

#text17 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text04 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans', sans-serif;
	font-size: 1em;
	line-height: 1.75;
	font-weight: 400;
}

#text04 a {
	text-decoration: underline;
}

#text04 a:hover {
	text-decoration: none;
}

#text04 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text03 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
	font-size: 2em;
	line-height: 1.75;
	font-weight: 600;
}

#text03 a {
	text-decoration: underline;
}

#text03 a:hover {
	text-decoration: none;
}

#text03 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text02 {
	color: #FFDAA3;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
	font-size: 3.25em;
	line-height: 1.125;
	font-weight: 300;
}

#text02 a {
	text-decoration: underline;
}

#text02 a:hover {
	text-decoration: none;
}

#text02 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text01 {
	color: #FFFFFF;
	font-family: 'Encode Sans', sans-serif;
	font-size: 1em;
	line-height: 1.75;
	font-weight: 300;
}

#text01 a {
	text-decoration: underline;
}

#text01 a:hover {
	text-decoration: none;
}

#text01 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

.image {
	display: block;
	line-height: 0;
	max-width: 100%;
	position: relative;
}

.image .frame {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	vertical-align: top;
	width: 100%;
}

.image .frame img {
	border-radius: 0 !important;
	max-width: 100%;
	vertical-align: top;
	width: inherit;
}

.image.full .frame {
	display: block;
}

.image.full:first-child .frame {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.image.full:last-child .frame {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#image03 {
	text-align: center;
}

#image03 .frame {
	width: 25rem;
	border-radius: 1.125rem;
	border-color: rgba(255,218,163,0.678);
	border-style: solid;
	border-width: 3px;
	transition: none;
}

#image03 .frame img:first-child {
	border-radius: calc(1.125rem - 3px) !important;
}

#image03 img {
	border-radius: inherit !important;
	padding: 0.625rem;
}

#image03 .frame img {
	transition: none;
}

#image04 {
	text-align: center;
}

#image04 .frame {
	width: 25rem;
	border-radius: 1.125rem;
	border-color: rgba(255,218,163,0.678);
	border-style: solid;
	border-width: 3px;
	transition: none;
}

#image04 .frame img:first-child {
	border-radius: calc(1.125rem - 3px) !important;
}

#image04 img {
	border-radius: inherit !important;
	padding: 0.625rem;
}

#image04 .frame img {
	transition: none;
}

#image05 {
	text-align: center;
}

#image05 .frame {
	width: 25rem;
	border-radius: 1.125rem;
	border-color: rgba(255,218,163,0.678);
	border-style: solid;
	border-width: 3px;
	transition: none;
}

#image05 .frame img:first-child {
	border-radius: calc(1.125rem - 3px) !important;
}

#image05 img {
	border-radius: inherit !important;
	padding: 0.625rem;
}

#image05 .frame img {
	transition: none;
}

#image06 {
	text-align: center;
}

#image06 .frame {
	width: 25rem;
	border-radius: 1.125rem;
	border-color: rgba(255,218,163,0.678);
	border-style: solid;
	border-width: 3px;
	transition: none;
}

#image06 .frame img:first-child {
	border-radius: calc(1.125rem - 3px) !important;
}

#image06 img {
	border-radius: inherit !important;
	padding: 0.625rem;
}

#image06 .frame img {
	transition: none;
}

#image07 {
	text-align: center;
}

#image07 .frame {
	width: 25rem;
	border-radius: 1.125rem;
	border-color: rgba(255,218,163,0.678);
	border-style: solid;
	border-width: 3px;
	transition: none;
}

#image07 .frame img:first-child {
	border-radius: calc(1.125rem - 3px) !important;
}

#image07 img {
	border-radius: inherit !important;
	padding: 0.625rem;
}

#image07 .frame img {
	transition: none;
}

#image08 {
	text-align: center;
}

#image08 .frame {
	width: 25rem;
	border-radius: 1.125rem;
	border-color: rgba(255,218,163,0.678);
	border-style: solid;
	border-width: 3px;
	transition: none;
}

#image08 .frame img:first-child {
	border-radius: calc(1.125rem - 3px) !important;
}

#image08 img {
	border-radius: inherit !important;
	padding: 0.625rem;
}

#image08 .frame img {
	transition: none;
}

#image02 {
	text-align: center;
}

#image02 .frame {
	width: 25rem;
	border-radius: 1.125rem;
	border-color: rgba(255,218,163,0.678);
	border-style: solid;
	border-width: 3px;
	transition: none;
}

#image02 .frame img:first-child {
	border-radius: calc(1.125rem - 3px) !important;
}

#image02 img {
	border-radius: inherit !important;
	padding: 0.625rem;
}

#image02 .frame img {
	transition: none;
}

#image01 .frame {
	width: 100vw;
	border-radius: 100%;
	border-color: rgba(255,218,163,0.678);
	border-style: solid;
	border-width: 3px;
	transition: none;
}

#image01 img {
	border-radius: inherit !important;
	padding: 0.625rem;
}

#image01 .frame img {
	transition: none;
}

.icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
}

.icons li {
	position: relative;
	z-index: 1;
}

.icons li a {
	align-items: center;
	display: flex;
	justify-content: center;
}

.icons li a svg {
	display: block;
	position: relative;
}

.icons li a + svg {
	display: block;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.icons li a .label {
	display: none;
}

#icons02 {
	justify-content: center;
	font-size: 2em;
	gap: 0.75rem;
}

#icons02 li a {
	height: 2em;
	width: 2em;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons02 li a svg {
	height: 50%;
	width: 50%;
	transition: fill 0.25s ease;
}

#icons02 a svg {
	fill: #FFFFFF;
}

#icons02 a + svg {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 3px;
}

#icons02 a:hover + svg {
	stroke: #6F538C !important;
}

#icons02 a:hover svg {
	fill: #6F538C !important;
}

#icons02 li a + svg {
	transition: fill 0.25s ease, stroke 0.25s ease;
}

#icons03 {
	justify-content: center;
	font-size: 2em;
	gap: 0.75rem;
}

#icons03 li a {
	height: 2em;
	width: 2em;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons03 li a svg {
	height: 50%;
	width: 50%;
	transition: fill 0.25s ease;
}

#icons03 a svg {
	fill: #FFFFFF;
}

#icons03 a + svg {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 3px;
}

#icons03 a:hover + svg {
	stroke: #6F538C !important;
}

#icons03 a:hover svg {
	fill: #6F538C !important;
}

#icons03 li a + svg {
	transition: fill 0.25s ease, stroke 0.25s ease;
}

#icons04 {
	justify-content: center;
	font-size: 2em;
	gap: 0.75rem;
}

#icons04 li a {
	height: 2em;
	width: 2em;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons04 li a svg {
	height: 50%;
	width: 50%;
	transition: fill 0.25s ease;
}

#icons04 a svg {
	fill: #FFFFFF;
}

#icons04 a + svg {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 3px;
}

#icons04 a:hover + svg {
	stroke: #6F538C !important;
}

#icons04 a:hover svg {
	fill: #6F538C !important;
}

#icons04 li a + svg {
	transition: fill 0.25s ease, stroke 0.25s ease;
}

#icons05 {
	justify-content: center;
	font-size: 2em;
	gap: 0.75rem;
}

#icons05 li a {
	height: 2em;
	width: 2em;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons05 li a svg {
	height: 50%;
	width: 50%;
	transition: fill 0.25s ease;
}

#icons05 a svg {
	fill: #FFFFFF;
}

#icons05 a + svg {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 3px;
}

#icons05 a:hover + svg {
	stroke: #6F538C !important;
}

#icons05 a:hover svg {
	fill: #6F538C !important;
}

#icons05 li a + svg {
	transition: fill 0.25s ease, stroke 0.25s ease;
}

#icons06 {
	justify-content: center;
	font-size: 2em;
	gap: 0.75rem;
}

#icons06 li a {
	height: 2em;
	width: 2em;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons06 li a svg {
	height: 50%;
	width: 50%;
	transition: fill 0.25s ease;
}

#icons06 a svg {
	fill: #FFFFFF;
}

#icons06 a + svg {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 3px;
}

#icons06 a:hover + svg {
	stroke: #6F538C !important;
}

#icons06 a:hover svg {
	fill: #6F538C !important;
}

#icons06 li a + svg {
	transition: fill 0.25s ease, stroke 0.25s ease;
}

#icons07 {
	justify-content: center;
	font-size: 2em;
	gap: 0.75rem;
}

#icons07 li a {
	height: 2em;
	width: 2em;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons07 li a svg {
	height: 50%;
	width: 50%;
	transition: fill 0.25s ease;
}

#icons07 a svg {
	fill: #FFFFFF;
}

#icons07 a + svg {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 3px;
}

#icons07 a:hover + svg {
	stroke: #6F538C !important;
}

#icons07 a:hover svg {
	fill: #6F538C !important;
}

#icons07 li a + svg {
	transition: fill 0.25s ease, stroke 0.25s ease;
}

#icons08 {
	justify-content: center;
	font-size: 2em;
	gap: 0.75rem;
}

#icons08 li a {
	height: 2em;
	width: 2em;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons08 li a svg {
	height: 50%;
	width: 50%;
	transition: fill 0.25s ease;
}

#icons08 a svg {
	fill: #FFFFFF;
}

#icons08 a + svg {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 3px;
}

#icons08 a:hover + svg {
	stroke: #6F538C !important;
}

#icons08 a:hover svg {
	fill: #6F538C !important;
}

#icons08 li a + svg {
	transition: fill 0.25s ease, stroke 0.25s ease;
}

#icons01 {
	justify-content: center;
	font-size: 2em;
	gap: 0.75rem;
}

#icons01 li a {
	height: 2em;
	width: 2em;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons01 li a svg {
	height: 50%;
	width: 50%;
	transition: fill 0.25s ease;
}

#icons01 a svg {
	fill: #FFFFFF;
}

#icons01 a + svg {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 3px;
}

#icons01 a:hover + svg {
	stroke: #6F538C !important;
}

#icons01 a:hover svg {
	fill: #6F538C !important;
}

#icons01 li a + svg {
	transition: fill 0.25s ease, stroke 0.25s ease;
}

.list {
	display: block;
}

.list ul, .list ol {
	display: inline-block;
	max-width: 100%;
	text-align: var(--site-language-alignment);
	vertical-align: middle;
}

.list ul li, .list ol li {
	direction: var(--site-language-direction);
	display: flex;
	position: relative;
}

.list ul li:before, .list ol li:before {
	background-repeat: no-repeat;
	content: '';
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	font-variant: normal !important;
	letter-spacing: 0 !important;
	order: 1;
	position: relative;
}

.list ul li:after, .list ol li:after {
	content: '';
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	order: 2;
	pointer-events: none;
}

.list ul li p, .list ol li p {
	flex-grow: 1;
	flex-shrink: 1;
	order: 3;
}

.list ul li:first-child, .list ol li:first-child {
	margin-top: 0 !important;
}

#list01 {
	color: #FFFFFF;
	font-family: 'Encode Sans', sans-serif;
	font-size: 1em;
	line-height: 1.75;
	font-weight: 400;
}

#list01 a {
	text-decoration: underline;
}

#list01 a:hover {
	text-decoration: none;
}

#list01 ul {
	width: 100%;
}

#list01 ul li {
	margin-top: 0.5rem;
}

#list01 ul li:after {
	width: 0.625rem;
}

#list01 ul li:before {
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2040%2040%22%3E%3Ccircle%20cx%3D%2220%22%20cy%3D%2220%22%20r%3D%2210%22%20fill%3D%22rgba(255,218,163,0.678)%22%20%2F%3E%3C%2Fsvg%3E');
	border-radius: 2rem;
	background-position: left 60%;
	background-repeat: no-repeat;
	background-size: contain;
	height: 1.75rem;
	line-height: 1.75rem;
	min-width: 0.8203125rem;
}

.buttons {
	cursor: default;
	display: flex;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
}

.buttons li {
	max-width: 100%;
}

.buttons li a {
	align-items: center;
	justify-content: center;
	max-width: 100%;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}

#buttons01 {
	gap: 1rem;
	flex-direction: row;
	flex-wrap: wrap;
}

#buttons01:not(:first-child) {
	margin-top: 2rem !important;
}

#buttons01:not(:last-child) {
	margin-bottom: 2rem !important;
}

#buttons01 li a {
	display: inline-flex;
	width: auto;
	height: 3.125rem;
	line-height: 3.125rem;
	padding: 0 1.5625rem;
	vertical-align: middle;
	font-family: 'Fraunces', serif;
	font-size: 1em;
	font-weight: 300;
	border-radius: 2rem;
	flex-direction: row-reverse;
	justify-content: flex-end;
	transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#buttons01 li a svg {
	display: block;
	fill: #FFFFFF;
	flex-grow: 0;
	flex-shrink: 0;
	height: 100%;
	min-width: 16px;
	width: 1.25em;
	margin-left: 0.5em;
	margin-right: calc(-0.125em + 0rem);
	transition: fill 0.25s ease;
}

#buttons01 li a .label {
	direction: var(--site-language-direction);
	overflow: hidden;
	flex-grow: 1;
	flex-shrink: 1;
	text-align: left;
	width: 100%;
}

#buttons01 .button {
	color: #FFFFFF;
	border: solid 3px rgba(255,218,163,0.678);
}

#buttons01 .button svg {
	fill: rgba(255,218,163,0.678);
}

#buttons01 .button:hover {
	border-color: #FFDAA3 !important;
	color: #FFDAA3 !important;
}

#buttons01 .button:hover svg {
	fill: #FFDAA3 !important;
}

#buttons01 li a:hover {
	transform: scale(1.0775);
}

@media (max-width: 1920px) {
	
}

@media (max-width: 1680px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 1024px) {
	
}

@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}

@media (max-width: 736px) {
	html {
		font-size: 14pt;
	}
	
	
	
	#main > .inner {
		--padding-horizontal: 2rem;
		--padding-vertical: 3rem;
		--spacing: 1.25rem;
	}
	
	#main > .inner > * > .full {
		margin-left: calc(-2rem);
		max-width: calc(100% + 4rem + 0.4725px);
		width: calc(100% + 4rem + 0.4725px);
	}
	
	#main > .inner > * > .full.screen {
		margin-left: -50vw;
	}
	
	#main > .inner > .active > .full:first-child {
		margin-top: -3rem !important;
	}
	
	#main > .inner > .active > .full:last-child {
		margin-bottom: -3rem !important;
	}
	
	#container01 {
		--alignment: center;
		--flex-alignment: center;
		--indent-left: 1;
		--indent-right: 1;
	}
	
	#container01 > .wrapper > .inner {
		--gutters: 1.25rem;
		--padding-horizontal: 0rem;
		--padding-vertical: 0rem;
	}
	
	#container01.columns > .wrapper > .inner {
		flex-direction: column !important;
		flex-wrap: nowrap !important;
	}
	
	#container01.columns > .wrapper > .inner > span {
		height: 0;
		margin-top: calc(var(--gutters) * -1);
		pointer-events: none;
		visibility: hidden;
	}
	
	#container01.columns > .wrapper > .inner > *:first-child {
		margin-left: 0 !important;
		padding-top: 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > * {
		padding: calc(var(--gutters) * 0.5) 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > *:last-child {
		padding-bottom: 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > div > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container01.columns > .wrapper > .inner > div:first-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container01.columns > .wrapper > .inner > div:last-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container01.columns > .wrapper > .inner > div > .full:first-child {
		margin-top: calc(var(--gutters) * -0.5) !important;
	}
	
	#container01.columns > .wrapper > .inner > div > .full:last-child {
		margin-bottom: calc(var(--gutters) * -0.5) !important;
	}
	
	#container01.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		margin-top: calc(var(--padding-vertical) * -1) !important;
	}
	
	#container01.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		margin-bottom: calc(var(--padding-vertical) * -1) !important;
	}
	
	#container01.columns > .wrapper > .inner > div:first-of-type, #container01.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
	}
	
	#container01.columns > .wrapper > .inner > div:last-of-type, #container01.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
	}
	
	#container01.columns > .wrapper > .inner > div:first-of-type, #container01.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
		border-bottom-left-radius: 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > div:last-of-type, #container01.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
		border-top-right-radius: 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child {
		height: auto;
	}
	
	#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
		height: auto;
		position: relative;
		width: auto;
	}
	
	#container01 > .wrapper > .inner > :nth-child(1) {
		--alignment: center;
		--flex-alignment: center;
		--indent-left: 1;
		--indent-right: 1;
		min-height: 100% !important;
		width: 100% !important;
	}
	
	#container01 > .wrapper > .inner > :nth-child(2) {
		--alignment: center;
		--flex-alignment: center;
		--indent-left: 1;
		--indent-right: 1;
		min-height: 100% !important;
		width: 100% !important;
	}
	
	#container02 {
		--alignment: center;
		--flex-alignment: center;
		--indent-left: 1;
		--indent-right: 1;
	}
	
	#container02 > .wrapper > .inner {
		--gutters: 1.25rem;
		--padding-horizontal: 0rem;
		--padding-vertical: 0rem;
	}
	
	#container02.columns > .wrapper > .inner {
		flex-direction: column !important;
		flex-wrap: nowrap !important;
	}
	
	#container02.columns > .wrapper > .inner > span {
		height: 0;
		margin-top: calc(var(--gutters) * -1);
		pointer-events: none;
		visibility: hidden;
	}
	
	#container02.columns > .wrapper > .inner > *:first-child {
		margin-left: 0 !important;
		padding-top: 0 !important;
	}
	
	#container02.columns > .wrapper > .inner > * {
		padding: calc(var(--gutters) * 0.5) 0 !important;
	}
	
	#container02.columns > .wrapper > .inner > *:last-child {
		padding-bottom: 0 !important;
	}
	
	#container02.columns > .wrapper > .inner > div > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container02.columns > .wrapper > .inner > div:first-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container02.columns > .wrapper > .inner > div:last-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container02.columns > .wrapper > .inner > div > .full:first-child {
		margin-top: calc(var(--gutters) * -0.5) !important;
	}
	
	#container02.columns > .wrapper > .inner > div > .full:last-child {
		margin-bottom: calc(var(--gutters) * -0.5) !important;
	}
	
	#container02.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		margin-top: calc(var(--padding-vertical) * -1) !important;
	}
	
	#container02.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		margin-bottom: calc(var(--padding-vertical) * -1) !important;
	}
	
	#container02.columns > .wrapper > .inner > div:first-of-type, #container02.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
	}
	
	#container02.columns > .wrapper > .inner > div:last-of-type, #container02.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
	}
	
	#container02.columns > .wrapper > .inner > div:first-of-type, #container02.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
		border-bottom-left-radius: 0 !important;
	}
	
	#container02.columns > .wrapper > .inner > div:last-of-type, #container02.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
		border-top-right-radius: 0 !important;
	}
	
	#container02.columns > .wrapper > .inner > .full > .full:first-child:last-child {
		height: auto;
	}
	
	#container02.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
		height: auto;
		position: relative;
		width: auto;
	}
	
	#text05 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 2em;
		line-height: 1.75;
	}
	
	#text06 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1em;
		line-height: 1.75;
	}
	
	#text07 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 2em;
		line-height: 1.75;
	}
	
	#text08 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1em;
		line-height: 1.75;
	}
	
	#text09 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 2em;
		line-height: 1.75;
	}
	
	#text10 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1em;
		line-height: 1.75;
	}
	
	#text11 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 2em;
		line-height: 1.75;
	}
	
	#text12 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1em;
		line-height: 1.75;
	}
	
	#text13 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 2em;
		line-height: 1.75;
	}
	
	#text14 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1em;
		line-height: 1.75;
	}
	
	#text15 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 2em;
		line-height: 1.75;
	}
	
	#text16 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1em;
		line-height: 1.75;
	}
	
	#text17 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 2em;
		line-height: 1.75;
	}
	
	#text04 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1em;
		line-height: 1.75;
	}
	
	#text03 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 2em;
		line-height: 1.75;
	}
	
	#text02 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 3em;
		line-height: 1.125;
	}
	
	#text01 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1em;
		line-height: 1.75;
	}
	
	#image03 .frame {
		width: 8.5rem;
	}
	
	#image04 .frame {
		width: 8.5rem;
	}
	
	#image05 .frame {
		width: 8.5rem;
	}
	
	#image06 .frame {
		width: 8.5rem;
	}
	
	#image07 .frame {
		width: 8.5rem;
	}
	
	#image08 .frame {
		width: 8.5rem;
	}
	
	#image02 .frame {
		width: 8.5rem;
	}
	
	#image01 .frame {
		width: 8.5rem;
	}
	
	#icons02 {
		font-size: 2em;
		gap: 0.75rem;
	}
	
	#icons03 {
		font-size: 2em;
		gap: 0.75rem;
	}
	
	#icons04 {
		font-size: 2em;
		gap: 0.75rem;
	}
	
	#icons05 {
		font-size: 2em;
		gap: 0.75rem;
	}
	
	#icons06 {
		font-size: 2em;
		gap: 0.75rem;
	}
	
	#icons07 {
		font-size: 2em;
		gap: 0.75rem;
	}
	
	#icons08 {
		font-size: 2em;
		gap: 0.75rem;
	}
	
	#icons01 {
		font-size: 2em;
		gap: 0.75rem;
	}
	
	#list01 {
		letter-spacing: 0rem;
		font-size: 1em;
		line-height: 1.75;
	}
	
	#list01 ul li:after {
		width: 0.625rem;
	}
	
	#list01 ul li:before {
		height: 1.75rem;
		line-height: 1.75rem;
		min-width: 0.8203125rem;
	}
	
	#buttons01 {
		gap: 1rem;
	}
	
	#buttons01:not(:first-child) {
		margin-top: 1.5rem !important;
	}
	
	#buttons01:not(:last-child) {
		margin-bottom: 1.5rem !important;
	}
	
	#buttons01 li a {
		letter-spacing: 0rem;
		font-size: 1em;
	}
	
	#buttons01 li a svg {
		width: 1.25em;
	}
}

@media (max-width: 480px) {
	#main > .inner {
		--spacing: 1.09375rem;
	}
	
	
	
	
	
	#buttons01 {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	
	#buttons01 li a {
		max-width: 32rem;
		width: 100%;
	}
}

@media (max-width: 360px) {
	#main > .inner {
		--padding-horizontal: 1.5rem;
		--padding-vertical: 2.25rem;
		--spacing: 0.9375rem;
	}
	
	#main > .inner > * > .full {
		margin-left: calc(-1.5rem);
		max-width: calc(100% + 3rem + 0.4725px);
		width: calc(100% + 3rem + 0.4725px);
	}
	
	#main > .inner > * > .full.screen {
		margin-left: -50vw;
	}
	
	#main > .inner > .active > .full:first-child {
		margin-top: -2.25rem !important;
	}
	
	#main > .inner > .active > .full:last-child {
		margin-bottom: -2.25rem !important;
	}
	
	#container01 > .wrapper > .inner {
		--gutters: 1.25rem;
		--padding-horizontal: 0rem;
		--padding-vertical: 0rem;
	}
	
	#container02 > .wrapper > .inner {
		--gutters: 1.25rem;
		--padding-horizontal: 0rem;
		--padding-vertical: 0rem;
	}
	
	#text05 {
		font-size: 1.5em;
	}
	
	#text06 {
		font-size: 1em;
	}
	
	#text07 {
		font-size: 1.5em;
	}
	
	#text08 {
		font-size: 1em;
	}
	
	#text09 {
		font-size: 1.5em;
	}
	
	#text10 {
		font-size: 1em;
	}
	
	#text11 {
		font-size: 1.5em;
	}
	
	#text12 {
		font-size: 1em;
	}
	
	#text13 {
		font-size: 1.5em;
	}
	
	#text14 {
		font-size: 1em;
	}
	
	#text15 {
		font-size: 1.5em;
	}
	
	#text16 {
		font-size: 1em;
	}
	
	#text17 {
		font-size: 1.5em;
	}
	
	#text04 {
		font-size: 1em;
	}
	
	#text03 {
		font-size: 1.5em;
	}
	
	#text02 {
		font-size: 3em;
	}
	
	#text01 {
		font-size: 1em;
	}
	
	#icons02 {
		gap: 0.5625rem;
	}
	
	#icons03 {
		gap: 0.5625rem;
	}
	
	#icons04 {
		gap: 0.5625rem;
	}
	
	#icons05 {
		gap: 0.5625rem;
	}
	
	#icons06 {
		gap: 0.5625rem;
	}
	
	#icons07 {
		gap: 0.5625rem;
	}
	
	#icons08 {
		gap: 0.5625rem;
	}
	
	#icons01 {
		gap: 0.5625rem;
	}
	
	#list01 {
		font-size: 1em;
	}
	
	#list01 ul li:after {
		width: 0.625rem;
	}
	
	#list01 ul li:before {
		height: 1.75rem;
		line-height: 1.75rem;
		min-width: 0.8203125rem;
	}
	
	#buttons01 {
		gap: 0.75rem;
	}
}